

db.sqlite3
/projetoapp/__pycache__/*
/apps/avaliacao/__pycache__/*
/apps/avaliacao/migrations/*
/apps/categoria/__pycache__/*
/apps/categoria/migrations/*
/apps/cliente/__pycache__/*
/apps/cliente/migrations/*
/apps/formapagamento/__pycache__/*
/apps/pormapagamento/migrations/*
/apps/localizacao/__pycache__/*
/apps/localizacao/migrations/*
/apps/profissional/__pycache__/*
/apps/profissional/migrations/*
/apps/servico/__pycache__/*
/apps/servico/migrations/*
/apps/tipo/__pycache__/*
/apps/tipo/migrations/*